
    <div class="row">  
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
            <img src="../../../assets/Sin título.png" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Orquera Ezequiel Leandro </p>
            <p>Full Stack Developer</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>  
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipis
                    icing elit. Quibusdam cum aspernatur eos. Harum deserun
                    t ipsam omnis, quibusdam vero vel odit magni mollitia, 
                    esse dolore dicta consequuntur dignissimos sit? Velit, eum!</p>
            </span>
        </div>


    </div>
