
<div class="row" id="all">   
    <h1 id="titulo">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>estudio 1 -</h1> <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos recusandae architecto placeat mollitia corporis voluptates commodi, nulla velit quae molestiae perspiciatis laudantium praesentium non provident cum aut possimus magni minus?</p>
        </ul>
        <ul>
            <li><h1>estudio 2 -</h1> <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quasi, rem ad iure, a natus eos doloremque aspernatur unde voluptate libero architecto fuga officia nulla iste aliquid laborum sapiente veritatis.</p>
        </ul>
        <ul>
            <li><h1>estudio 3 -</h1>  <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos numquam sit minus nisi eius quisquam, temporibus voluptatum nam vero impedit doloremque exercitationem animi quo optio molestiae error iste aut. Nobis.</p>
        </ul>
    </div>
</div>